-if @business_type.errors.any?
  .alert.alert-error
    %h2= "#{pluralize(@business_type.errors.count, "error")} prohibited this business_type from being saved:"
    %ul
      - @business_type.errors.full_messages.each do |msg|
        %li= msg

.field
  = f.label :name
  = f.text_field :name

.actions
  %br/
  = f.submit 'Save', :class => 'btn btn-success btn-large'
  &nbsp;&nbsp;
  = link_to 'Cancel', admin_business_types_path
